body{
	position: relative;
	background-color: #fafafa;
}
.header{
	z-index: 9999;
	width: 100%;
	height: 107px;
	position: fixed;
	top: 0;
	background-color: white;
	border-bottom: 4px solid #ed435b;
	.header_1{
		margin: 0 auto;
		width: 1200px;
		overflow: hidden;
		position: relative;

		h1 img{
			width: 180px;
			height: 63px;
			float: left;
			margin-top: 17px;
			cursor: pointer;
		}
		
		p{
			width: 100px;
			height: 24px;
			font-size: 18px;
			float: left;
			margin-top: 35px;
			text-align: center;
			border-right: 1px solid #6c6c6c;
			a{
				color:#6c6c6c;
		     }
			.p0{
				margin-left: 16px;
				color: #fc475d;	
							margin-right: 11px;
			}
		.p1{
			border-right:none ;
		}
	}

}
}

.nav{
	z-index: 999;
	width: 100%;
	height: 44px;
	background-color: #ed445b;
	position: fixed;
	top: 107px;
	.girclose{
		margin-left: 379px;
	}
	a{
		float: left;
		color: white;
		font-size: 17px;
		line-height: 44px;
		margin-left: 17px;
		margin-right: 58px;
	}

}
.swiper-container {
	background-color: #ccc;
			    width: 100%;
			    height: 465px;
				margin-left: 8px;
				margin-top: 151px;
} 
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
	margin-right: 33px;
}
.load{
	width: 364px;
	height: 384px;
	border-radius: 8px;
	background-color: white;
	position: absolute;
	left: 1181px;
	top: 25px;
	z-index: 998;
}


.step{
	    width: 894px;
		height: 208px;
	    margin: 48px auto 46px;
	    text-align: center;
		.step1,.step2,.step3{
			float: left;
			    display: inline-block;
			    width: 280px;
			    height: 208px;
			    margin-right: 18px;
			    box-shadow: 0 4px 16px 2px rgba(0,0,0,.06);
			    border-radius: 10px;
				img{
					width: 48px;
					height: 48px;
					margin-top: 36px;
					margin-left: 116px;
				}
				p{
					font-size: 20px;
					color: black;
					margin-top: 10px;
					margin-bottom: 10px;
				}
				span{
					    font-size: 16px;
					    color: rgba(0,0,0,.6);
					    line-height: 25px;
				}
				.danger{
					margin-top: 15px;
					font-size: 16px;
					&:hover{
						color: red;
						cursor: pointer;
					}
				}
				
		}		
}

.gap{
	width: 100%;
	height: 56px;
	padding-left: 752px;
	img{
		float: left;
	}
	p{
		margin-top: -3px;
		margin-left: 8px;
		margin-right: 8px;
		font-size: 25px;
		float: left;
	}
	span{
		font-size: 17px;
		color: #777781;
		margin-left: -362px;
		line-height: 50px;
	}
}
.cas{
	position: relative;
	width: 1000px;
	height: 409px;
	margin-top: 42px;
	margin-left: 422px;
	background-color: skyblue;
	img{
		width: 121px;
		height: 121px;
		}
	.case{
		position: absolute;
		top: 100px;
		left: 300px;
		.case1{
			img{
				width: 121px;
				height: 121px;
				
			}
		}
		
	}
}